

*{margin: 0;padding: 0;text-decoration: none;list-style: none;box-sizing: border-box;}

.container{
    margin: auto;
    max-width: 1128px;
    text-align: center;
}

.gameBox{
    width: 500px;
    height: 500px;
    background-color: #bbada0;
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 50px;
    padding: 15px;
    position: relative;
}

.gameRow{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.gameRow:last-child{
    margin-bottom: 0px;
}

.gameCell{
    margin-right: 15px;
    border-radius: 5px;
    width: 106.25px;
    height: 106.25px;
    background-color: #CDC1B4;
    display: flex;
    flex-direction: column;
}

.gameCell:last-child{
    margin: 0px;
}

.gameNumber{
    width: 106.25px;
    height: 106.25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    -webkit-transition: all 0.15s ease-out;
}

.number{
    font-size: 48px;
    color: #776E65;
    font-weight: bolder;
}

.number2{
    color: #766E65;
}

.number4{
    color: #766E65;
}
.number8{
    color: white;
}

.number16{
    color: white;
}
.number32{
    color: white;
}

.gameNumber2{
    background: #eee4da;
    box-shadow: 0 0 30px 10px transparent, inset 0 0 0 1px transparent;
    color: #766E65;
}

.gameNumber4{
    background-color: #EDDFC8;
    color: #766E65;
}

.gameNumber8{
    background-color: #F2B178;
    color: white;
}

.gameNumber16{
    background-color: #F59562;
    color: white;
}

.gameNumber32{
    background-color: #F57C5F;
    color: white;
}
.gameNumber64{
    background-color: #F65E3A;
    color: white;
}

.gameNumber128{
    background-color: #EDCF72;
    color: white;
}